services:
  connect4:
    build:
      context: .
      dockerfile: Dockerfile
    working_dir: /app
    volumes:
      - "./Connect4/:/app/"   # optional: if you still want to mount source
    extra_hosts:
      - "host.docker.internal:host-gateway"
    # If you mount source and want live recompilation, you could override command here
    # else you can rely on the CMD in the image
    command: bash -c "swiftc *.swift -o /connect4 -Xlinker --no-warn-rwx-segments && /connect4"
